{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} заказа{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} заказа</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.table_number.label_tag }}
                {{ form.table_number }}
                {% if form.table_number.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.table_number.errors }}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.status.label_tag }}
                {{ form.status }}
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'order_list' %}" class="btn btn-secondary">Отмена</a>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
